body {
  font-family: Arial;
  margin: 0;
  background-color: #f0f0f0;
}

.header {
  background-color: #002244;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
}

.content {
  text-align: center;
  padding: 20px;
}

.content img {
  width: 20%;
  margin: 5px;
  border-color: #002244;
  height: auto;
}

.footer {
  background-color: #002244;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
}
